{% extends '/administration/doors/index.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}
{% block dashboard_title %}
Door Authorizations
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<span class="opacity-50">/</span>
{% if url_for('administration.authorizations.index') == request.path %}
	<span class="font-semibold">Authorization</span>
{% else %}
  <a href="{{ url_for('administration.authorizations.index') }}" class="link link-hover">Authorization</a>
{% endif %}
{%- endblock %}

{% block content %}
  <div class="mb-4 flex flex-wrap gap-2">
    <a class="btn btn-primary gap-2" href="{{ url_for('administration.authorizations.add_or_edit') }}">
      <i class="fa-solid fa-plus"></i>Add Authority
    </a>
  </div>

  {% if group_auth | count > 0 %}
  <div class="overflow-x-auto bg-base-100 rounded-box shadow">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th>Door Group</th>
        <th>User Group</th>
        <th>Started Date</th>
        <th>Expired Date</th>
        <th>Grantor</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
     {% for group in group_auth | sort(attribute='door_group.name')  %}
      <tr>
	      <td><a class="link" href="{{ url_for('administration.door_groups.view', door_group_id=group.door_group.id) }}">{{ group.door_group.name }}</a></td>
	      <td><a class="link" href="{{ url_for('administration.user_groups.view', user_group_id=group.user_group.id) }}">{{ group.user_group.name }}</a></td>
        <td>{{ group.started_date.ctime() }}</td>
        <td>{{ group.expired_date.ctime() }}</td>
        <td>{{ group.granter.username }}</td>
        <td class="whitespace-nowrap">
          <a href="{{ url_for('administration.authorizations.add_or_edit', auth_id=group.id) }}" class="btn btn-circle btn-sm btn-warning"><i class="fa-solid fa-pen"></i></a>
          <a href="{{ url_for('administration.authorizations.delete', auth_id=group.id) }}" class="btn btn-circle btn-sm btn-error"><i class="fa-solid fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% else %}
  <div class="alert alert-info">
    <span>No UserGroup in this Door</span>
  </div>
  {% endif %}
{% endblock %}
