{% extends '/administration/index.html.j2' %}

{% block title %}
  {{ self.dashboard_title() }}
{% endblock %}

{% block dashboard_title %}
  Door Group
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<span class="opacity-50">/</span>
{% if url_for('administration.door_groups.index') == request.path %}
  <span class="font-semibold">Door Groups</span>
{% else %}
  <a href="{{ url_for('administration.door_groups.index') }}" class="link link-hover">Door Groups</a>
{% endif %}
{%- endblock %}

{% block content %}
  <div class="mb-4 flex flex-wrap gap-2">
    <a class="btn btn-primary gap-2" href="{{ url_for('administration.door_groups.create_or_edit') }}">
      <i class="fa-solid fa-plus"></i>Create Group
    </a>
  </div>

  {% if door_groups and door_groups | count > 0 %}
  <div class="overflow-x-auto bg-base-100 rounded-box shadow">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Updated Date</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      {% for group in door_groups %}
      <tr>
        <td><a class="link" href="{{url_for('administration.door_groups.view', door_group_id=group.id)}}">{{ group.name }}</a></td>
        <td>{{ group.description }}</td>
        <td>{{ group.updated_date.ctime() }}</td>
        <td class="whitespace-nowrap">
          <a href="{{url_for('administration.door_groups.view', door_group_id=group.id)}}" class="btn btn-circle btn-sm btn-primary"><i class="fa-solid fa-eye"></i></a>
	        <a href="{{ url_for('administration.door_groups.create_or_edit', door_group_id=group.id) }}" class="btn btn-circle btn-sm btn-warning"><i class="fa-solid fa-pen"></i></a>
          <a href="{{ url_for('administration.door_groups.delete', door_group_id=group.id) }}" class="btn btn-circle btn-sm btn-error"><i class="fa-solid fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% else %}
  <div class="alert alert-info">
    <span>Don't have any Group.</span>
  </div>
  {% endif %}
{% endblock %}
