{% extends '/base/default-dashboard.html.j2' %}

{% block dashboard_title %}
Profile
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('accounts.index') }}" class="link link-hover">Accounts</a>
{% endblock %}


{% block content %}
<div class="bg-base-100 rounded-box shadow p-4 md:p-6 mb-4">
  <h2 class="text-2xl font-bold flex items-center gap-3">Profile
{% if current_user == user or not request.args.get('user')%}
   <a class="btn btn-circle btn-sm btn-primary" href="{{ url_for('accounts.edit_profile') }}" title='Edit profile.'><i class="fa-solid fa-pen"></i></a>
   {% endif %}
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mt-4">
    <div>{{ user.username }}</div>
    <div>{{ user.roles[-1] }}</div>
    <div>{{ user.id_card_number }}</div>
    <div>{{ user.email }}</div>
    <div>{{ user.first_name }}</div>
    <div>{{ user.last_name }}</div>
    <div>{{ user.first_name_th }}</div>
    <div>{{ user.last_name_th }}</div>
  </div>
</div>

<div class="bg-base-100 rounded-box shadow p-4 md:p-6">
  <h2 class="text-2xl font-bold mb-3">Indentity</h2>
    {% if "admin" in current_user.roles %}
      <a class="btn btn-primary mb-3" href="{{ url_for('administration.users.add_or_edit_identity', user_id=user.id) }}">Add</a>
    {% elif current_user.id == user.id %}
      <a class="btn btn-primary mb-3" href="{{ url_for('accounts.add_or_edit_identity', user_id=user.id) }}">Add</a>
    {% endif %}
    <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>Identifier</th>
          <th>Type</th>
          <th>Status</th>
          <th>Created Date</th>
          <th>Updated Date</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
	      {% for identity in user.identities %}
	{% set rfid = identity.identifier %}
        <tr>
          <td>{{ '*' * rfid[:-3] | length + rfid[-3:] }}</td>
          <td>{{ identity.type }}</td>
          <td>{{ identity.status }}</td>
          <td>{{ identity.created_date }}</td>
          <td>{{ identity.updated_date }}</td>
          <td>
            <a class="btn btn-primary btn-sm" href="{{ url_for('accounts.add_or_edit_identity', user_id=user.id, index=loop.index-1 ) }}">Edit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
</div>
{% endblock %}
