{% extends '/base/default-dashboard.html.j2' %}

{%- block breadcrumbs %}
<a href="{{ url_for('administration.index') }}" class="link link-hover">Administrators</a>
{%- endblock %}

{% block content %}
{% endblock %}
