<li class="mb-2">
  <a href="{{ url_for('accounts.index') }}" class="flex items-center gap-3">
  {%- if current_user.get_image() %}
    <div class="avatar">
      <div class="w-10 rounded-full">
        <img src="{{ current_user.get_image() }}">
      </div>
    </div>
  {% endif -%}
    <div class="flex flex-col">
      <span class="font-semibold">{{ current_user.first_name }} {{ current_user.last_name }}</span>
      <span class="text-xs opacity-70">{{ current_user.email }}</span>
    </div>
  </a>
</li>

<li><a href="{{ url_for('dashboard.index') }}"><i class="fa-solid fa-gauge-high w-5"></i>Dashboard</a></li>

{% if current_user.has_roles('lecturer') %}
<li><a href="{{ url_for('applications.approve') }}"><i class="fa-solid fa-list-check w-5"></i>Applications Approval</a></li>
{% endif %}

{% if current_user.has_roles('admin') %}
  <li><a href="{{ url_for('administration.doors.index') }}"><i class="fa-solid fa-door-closed w-5"></i>Door Manager</a></li>
  <li><a href="{{ url_for('administration.door_groups.index') }}"><i class="fa-solid fa-landmark w-5"></i>Door Groups</a></li>
  <li><a href="{{ url_for('administration.user_groups.index') }}"><i class="fa-solid fa-user-group w-5"></i>User Groups</a></li>
  <li><a href="{{ url_for('administration.authorizations.index') }}"><i class="fa-solid fa-user-shield w-5"></i>Authorization</a></li>
  <li><a href="{{ url_for('administration.history_logs.index') }}"><i class="fa-solid fa-clock-rotate-left w-5"></i>History Log</a></li>
  <li><a href="{{ url_for('administration.users.index') }}"><i class="fa-solid fa-users w-5"></i>Users</a></li>
  <li><a href="{{ url_for('administration.applications.index') }}"><i class="fa-solid fa-list-check w-5"></i>Admin Applications Approval</a></li>
{% endif %}

<li><a href="{{ url_for('applications.index') }}"><i class="fa-solid fa-address-card w-5"></i>Door Application</a></li>
<li><a href="{{ url_for('accounts.index') }}"><i class="fa-solid fa-id-card w-5"></i>Account</a></li>
<li><a href="{{ url_for('accounts.logout') }}"><i class="fa-solid fa-right-from-bracket w-5"></i>Logout</a></li>
