{% extends '/administration/users/users_list.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}
{% block dashboard_title %}
	Edit Role
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<span class="opacity-50">/</span>
<span class="font-semibold">Edit Role</span>
{%- endblock %}
{% block content %}
<div class="bg-base-100 rounded-box shadow p-4 md:p-6 max-w-2xl">
  <form method="POST">
    {{ form.csrf_token }}
    {{ renderer.render_select(form.role) }}
    <button class="btn btn-primary mt-2" type="submit">Confirm</button>
  </form>
</div>
{% endblock %}
