{% extends '/base/default-dashboard.html.j2' %}

{% block content %}
{% set current_time = datetime.datetime.now().time() %}

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
  {% for door in doors %}
  {% set door_state = door_states[door.id] %}
  {% set can_access_door = current_time >= door.begin_access_time.time()
                      and current_time <= door.end_access_time.time()
                      or door.end_access_time.time() == door.begin_access_time.time()
                      %}
  <div class="card bg-base-100 shadow">
    <div class="card-body p-5">
      <div class="flex items-start justify-between gap-2">
        <h2 class="card-title text-lg">
          {% if 'closed' == door_state %}
          <i class="fa-solid fa-door-closed text-success"></i>
          {% elif 'opened' == door_state %}
          <i class="fa-solid fa-door-open text-error"></i>
          {% else %}
          <i class="fa-solid fa-door-closed"></i>
          {% endif %}
          {{ door.name | upper }}
        </h2>

        {% if 'admin' in current_user.roles %}
        <a class="btn btn-circle btn-sm btn-info"
          href="{{ url_for('administration.history_logs.door_logs', door_id=door.id) }}">
          <i class="fa-solid fa-clock-rotate-left"></i>
        </a>
        {% endif %}
      </div>

      <p class="text-sm opacity-70">{{ door.device_type | title }} | {{ door_states[door.id] }}</p>

      {% if door.have_passcode %}
      <div class="text-sm">Passcode: {{ current_user.passcode }}</div>
      {% endif %}

      <div class="card-actions mt-3 opendoor">
        {% if not is_ip_allowed %}
        <button class="btn btn-outline btn-block btn-disabled" id="{{ door.id }}">Connect Allowed Network</button>
        {% elif not door.is_web_open %}
        <button class="btn btn-outline btn-block btn-disabled" id="{{ door.id }}">Opening via Web was disabled</button>
        {% elif not can_access_door and not current_user.has_roles('admin', 'lecturer', 'staff') %}
        <button class="btn btn-block btn-disabled" id="{{ door.id }}">Opening via Web was disabled in this time</button>
        {% else %}
        <button id="{{ door.id }}" class="btn btn-success btn-block">Open</button>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script type="text/python" src="{{ url_for('static', filename='bry/controller.py') }}"></script>
{% endblock %}
